<?xml version="1.0" ?>
<robot name="darm_ros2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find darm_ros2)/description/darm.joints" />
    <xacro:include filename="$(find darm_ros2)/description/darm.links" />
    <xacro:include filename="$(find darm_ros2)/description/darm.trans" />
    <xacro:include filename="$(find darm_ros2)/description/materials.xacro" />
    <xacro:include filename="$(find darm_ros2)/description/ros2_control.xacro" />

    <!-- Gaebo Plugins -->
    <gazebo>
        <plugin name="gz::sim::systems::JointStatePublisher"       filename="gz-sim-joint-state-publisher-system"/>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find darm_ros2)/config/ros2_control_controllers.yaml</parameters>
            <use_ros_transmissions>true</use_ros_transmissions>
            <robot_transmissions>$(find darm_ros2)/description/darm.trans</robot_transmissions>
            <enable_position_limits>true</enable_position_limits>
        </plugin>
    </gazebo>

</robot>