<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="darm_hardware" type="system">
        <!-- Select GZ Sim or Odrive hardware interface based on 'sim' -->
        <hardware>
            <xacro:if value="$(arg sim)">
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </xacro:if>

            <xacro:unless value="$(arg sim)">
                <plugin>odrive_ros2_control_plugin/ODriveHardwareInterface</plugin>
                <param name="can">can0</param>
            </xacro:unless>
        </hardware>

    <joint name="joint_1_odrive">
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">0</param></xacro:unless>
    </joint>

    <joint name="joint_2_left_odrive">   
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">1</param></xacro:unless>
    </joint>

    <joint name="joint_2_right_odrive">  
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">2</param></xacro:unless>
    </joint>

    <joint name="joint_3_odrive">
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">3</param></xacro:unless>
    </joint>

    <joint name="forearm_odrive">
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">4</param></xacro:unless>
    </joint>

    <joint name="diff_left_odrive">      
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">5</param></xacro:unless>
    </joint>

    <joint name="diff_right_odrive">     
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">6</param></xacro:unless>
    </joint>

    <joint name="finger_odrive"> 
      <command_interface name="position"/><state_interface   name="position"/><state_interface   name="velocity"/>
      <xacro:unless value="$(arg sim)"><param name="node_id">7</param></xacro:unless>
    </joint>

    </ros2_control>

</robot>