services:
  robot:
    image: ghcr.io/jessedarr/darm_ros2:robot-latest
    container_name: darm_robot
    devices:
      - /dev/input/js0:/dev/input/js0 
    volumes:
      - /dev:/dev
      - /run/udev:/run/udev:ro           # udev for device hotplug detection
    network_mode: host
    command: /bin/bash -il ./bringup/robot.sh   # interactive & login
    restart: no
