controller_manager:
  ros__parameters:
    update_rate: 1000     

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    arm_controller:
      type: position_controllers/JointGroupPositionController
    finger_controller:
      type: position_controllers/JointGroupPositionController

joint_state_broadcaster:
  ros__parameters:
    publish_rate: 50

arm_controller:
  ros__parameters:
    joints:
      - joint_1_joint
      - joint_2_joint
      - joint_3_joint
      - forearm_joint
      - differential_joint
      - gripper_joint
    publish_rate: 50
    gains:
      joint_1_joint:      { p: 10.0, i: 0.0, d: 0.0 }
      joint_2_joint:      { p: 10.0, i: 0.0, d: 0.0 }
      joint_3_joint:      { p: 10.0, i: 0.0, d: 0.0 }
      forearm_joint:      { p: 10.0, i: 0.0, d: 0.0 }
      differential_joint: { p: 10.0, i: 0.0, d: 0.0 }
      gripper_joint:      { p: 10.0, i: 0.0, d: 0.0 }

finger_controller:
  ros__parameters:
    joints:
      - finger_1_joint
      - finger_2_joint
    publish_rate: 50
    gains:
      finger_1_joint: { p: 10.0, i: 0.0, d: 0.0 }
      finger_2_joint: { p: 10.0, i: 0.0, d: 0.0 }
