controller_manager:
  ros__parameters:
    update_rate: 500     

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    arm_controller:                     
      type: joint_trajectory_controller/JointTrajectoryController

joint_state_broadcaster:
  ros__parameters:
    publish_rate: 50

arm_controller:
  ros__parameters:
    joints:
      - link_1_joint
      - link_2_joint
      - link_3_joint
      - forearm_joint
      - differential_joint
      - gripper_joint
      - finger_1_joint
      - finger_2_joint

    command_interfaces: ["position"]     
    state_interfaces:   ["position"]

    allow_partial_joints_goal: true      # send only the joints you jog
    allow_integration_in_goal_trajectories: true
    allow_nonzero_velocity_at_trajectory_end: true

    constraints:
      stopped_velocity_tolerance: 0.5
      goal_time: 0.3                    # seconds 