name: build-darm-images

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'

jobs:
  build_sim:
    name: Build sim x86
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build sim image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          build-args: FLAVOR=sim
          platforms: linux/amd64
          push: true
          cache-from: type=gha,scope=sim-linux/amd64
          cache-to:   type=gha,mode=max,scope=sim-linux/amd64,ttl=365d
          tags: |
            ghcr.io/jessedarr/darm_ros2:sim-latest
            ghcr.io/jessedarr/darm_ros2:${{ github.sha }}-sim

  build_robot:
    name: Build robot arm64
    runs-on: ubuntu-latest
    #runs-on: [self-hosted, ubuntu, ARM64]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build robot image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: docker/Dockerfile
          build-args: FLAVOR=robot
          platforms: linux/arm64
          push: true
          cache-from: type=gha,scope=robot-linux/arm64
          cache-to:   type=gha,mode=max,scope=robot-linux/arm64,ttl=365d
          tags: |
            ghcr.io/jessedarr/darm_ros2:robot-latest
            ghcr.io/jessedarr/darm_ros2:${{ github.sha }}-robot
